<!-- Count Area Start -->
<section class="bleezy-count-area section_100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="counts-text">
                    <h3>We are ready to provide security in resonable price and guarantee your safety in any situation in your life </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="count-box">
                    <h3 class="counter">2800</h3>
                    <h4>Project <span>Done</span></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="count-box">
                    <h3 class="counter">1200</h3>
                    <h4>Qualified <span>Employee</span></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="count-box">
                    <h3 class="counter">3100</h3>
                    <h4>Deal <span>Assigned</span></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="count-box">
                    <h3 class="counter">2700</h3>
                    <h4>Satisfied <span>Clients</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Count Area End -->