<!-- Services Area Start -->
<section class="bleezy-service-area section_t_100 section_b_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h3>What We Offer</h3>
                    <h2>our services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-house-security"></i>
                    </div>
                    <h3><a href="#">Home Secutity</a></h3>
                    <p>Enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip dolor in velit esse cillum.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-security-camera"></i>
                    </div>
                    <h3><a href="#">cctv system</a></h3>
                    <p>Enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip dolor in velit esse cillum.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-locked-internet-security-padlock"></i>
                    </div>
                    <h3><a href="#">cloud Security</a></h3>
                    <p>Enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip dolor in velit esse cillum.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-computer"></i>
                    </div>
                    <h3><a href="#">computer Secutity</a></h3>
                    <p>Enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip dolor in velit esse cillum.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-policeman"></i>
                    </div>
                    <h3><a href="#">Bodyguard</a></h3>
                    <p>Enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip dolor in velit esse cillum.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-fingerprint"></i>
                    </div>
                    <h3><a href="#">Biometric</a></h3>
                    <p>Enim ad minim veniam quis nostrud exercitation ullamco laboris aliquip dolor in velit esse cillum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Area End -->