<!-- Services Area Start -->
<section class="bleezy-service-area section_t_100 section_b_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h3>What We Offer</h3>
                    <h2>our services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-house-security"></i>
                    </div>
                    <h3><a href="#">Home Security</a></h3>
                    <p>We are providing a control panel, which is the primary controller of a home's security system. Door and window sensors. Motion sensors, both interior and exterior.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-security-camera"></i>
                    </div>
                    <h3><a href="#">cctv system</a></h3>
                    <p>We are providing a system to allow users to remotely patrol the insides and outsides of buildings, reducing the need for extra manpower and increasing the capabilities of existing personnel.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-locked-internet-security-padlock"></i>
                    </div>
                    <h3><a href="#">cloud Security</a></h3>
                    <p>We arer providing a service to federate to their web-based and SaaS applications, and lets service providers connect to their customers through a secure channel without requiring the firewall ports.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-computer"></i>
                    </div>
                    <h3><a href="#">computer Security</a></h3>
                    <p>Our computer security services and solutions are expertly planned to provide your company with the complete security it needs i.e. <b> Network Security, Data Backups, Firewalls </b> and <b> Disaster Recovery </b>. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-policeman"></i>
                    </div>
                    <h3><a href="#">Bodyguard</a></h3>
                    <p>We are engaged in providing Bodyguard Security Services. Our service is handled by industry known professionals who utilize best ideas to finish this service within preset time frame.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="flaticon-fingerprint"></i>
                    </div>
                    <h3><a href="#">Biometric</a></h3>
                    <p>A guide to devices, fingerprint scanners and facial recognition access control. This will help you  everyday to identify ourselves on numerous occasions like office, computers etc..</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Area End -->