<!-- Slider Area Start -->
<section class="bleezy-slider-area">
    <div class="bleezy-slide">
        <div class="bleezy-main-slide slide-item-1">
            <div class="bleezy-main-caption">
                <div class="bleezy-caption-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-text">
                                    <h2>the most successfull security <span>agency</span></h2>
                                    <p><h4>PMSPL is working from decade towards the security of your resources/business.</h4></p>
                                    <a href="#" class="bleezy-btn">Connect with us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bleezy-main-slide slide-item-2">
            <div class="bleezy-main-caption">
                <div class="bleezy-caption-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-text">
                                    <h2>Premium Security Services Trusted <span> by Millions</span></h2>
                                    <p><h4>We are providing our services to our clients with high level of accountability and accuracy to establish the trust and relationship with our customers.</h4></p>
                                    <a href="#" class="bleezy-btn">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bleezy-main-slide slide-item-3">
            <div class="bleezy-main-caption">
                <div class="bleezy-caption-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-text">
                                    <h2>Large no of clients with good response</h2>
                                    <p>PMSPL is workring with CLIENT1, CLIENT2, CLIENT3..</p>
                                    <a href="#" class="bleezy-btn">Our Clients</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider Area End -->