<!-- Testimonial Area Start -->
<section class="bleezy-testimonial-area section_100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading-black">
                    <h3>What They Say</h3>
                    <h2>Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-slide">
                    <div class="single-testimonial">
                        <div class="testimonial-text">
                            <p>Esse cillum fugiat nulla pariatur excepteur ipsum dolor sit amconsectetur adipisicing elit sedaup eiusmod tempor incididunt labore et dolore magna aliqua lorem ipsum dolor sit ametes etur adipisicing elit usmod tempor incididunt eiusmod tempor incididunt ut labore.</p>
                        </div>
                        <div class="testimonial-info">
                            <div class="info-img">
                                <img src="/assets/client1.jpg" alt="client" />
                            </div>
                            <div class="info-name">
                                <h4>Mike Hussy</h4>
                                <p>Business Owner, Spain</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="testimonial-text">
                            <p>Esse cillum fugiat nulla pariatur excepteur ipsum dolor sit amconsectetur adipisicing elit sedaup eiusmod tempor incididunt labore et dolore magna aliqua lorem ipsum dolor sit ametes etur adipisicing elit usmod tempor incididunt eiusmod tempor incididunt ut labore.</p>
                        </div>
                        <div class="testimonial-info">
                            <div class="info-img">
                                <img src="/assets/client2.jpg" alt="client" />
                            </div>
                            <div class="info-name">
                                <h4>Zenifar Lopez</h4>
                                <p>Business Owner, Spain</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <div class="testimonial-text">
                            <p>Esse cillum fugiat nulla pariatur excepteur ipsum dolor sit amconsectetur adipisicing elit sedaup eiusmod tempor incididunt labore et dolore magna aliqua lorem ipsum dolor sit ametes etur adipisicing elit usmod tempor incididunt eiusmod tempor incididunt ut labore.</p>
                        </div>
                        <div class="testimonial-info">
                            <div class="info-img">
                                <img src="/assets/client2.jpg" alt="client" />
                            </div>
                            <div class="info-name">
                                <h4>Zenifar Lopez</h4>
                                <p>Business Owner, Spain</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Area End -->