<table border="1">
	<tr>
		<td style="width: 100px; height: 35px;">Name:</td>
		<td>Raghav</td>
	</tr>
	<tr>
		<td style="width: 100px; height: 35px;">Email:</td>
		<td>raghav@gmail.com</td>
	</tr>
	<tr>
		<td style="width: 100px; height: 35px;">Phone:</td>
		<td>9999999999</td>
	</tr>
	<tr>
		<td style="width: 100px; height: 35px;">Description:</td>
		<td>slkdnskjdskndksjndksnd</td>
	</tr>
</table>