<%= render 'common/header' %>

<!-- Breadcromb Area Start -->
<section class="bleezy-breadcromb-area">
    <div class="breadcromb-top section_50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-top-text">
                        <h2>Our Clients</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-bottom-text">
                        <ul>
                            <li><a href="/">home</a></li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                            <li>Clients</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->



<!-- Team Member Area Start -->
<section class="bleezy-team-member-area section_t_100 section_b_70">
    <div class="container">
        <div class="row client-row">
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">Jhon doe</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">Brianna Stapleton</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">jhon doe</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">Spomen Dhar</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">Spomen Dhar</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">jhon doe</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">Spomen Dhar</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-team-slide client-container">
                    <div class="team-img">
                        <a href="#">
                            <img src="assets/user-dummy.png" alt="team img" />
                        </a>
                        <div class="team-social-box">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-text">
                        <h4><a href="#">Brianna Stapleton</a></h4>
                        <p>Security Expert</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Member Area End -->

<%= render 'common/footer' %>

<script>
	$(".bleezy_navigation li").removeAttr("class")
	$("#clients").attr("class", "current-page-item")
</script>